@{
    Layout = "_Layout";
}

<h2 class="text-center">About David</h2>

<p class="details">
    David graduated from the University of North Florida with a Bachelor's degree in Information Systems.  While he was looking for a job, he filled in for the secretary
    at his church when needed.  While doing this, he learned the ins and outs of the job, which includes what data they tracked.
</p>
<p class="details">
    In 2005, his church was in a situation where they needed a new application to track Sunday School attendance.  In an effort to save them money, he built his first application
    called EZ Membership.  This application tracked Sunday School attendance, church attendance, and deacon asignments.
</p>
<p class="details">
    After getting married, he started his professional career in 2012 by getting his first Software Developer job.  Since then, he has refined his development skills and has become
    a professional software developer.
</p>
<p class="details">
    He has now combined his skills along with his knowledge gained from filling in from the secretary at his former church to fill a void in the church software market
    and build software specifically designed for Baptist churches.
</p>